@model List<CategoryModel>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-3 flex-nowrap flex-xl-wrap overflow-auto overflow-xl-visble">
        <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a asp-action="Index" asp-controller="Home">Anasayfa</a></li>
        @foreach (var category in Model)
        {
            <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1"><a href="/@category.SeoUrl">@category.Name</a></li>
        }
        <li class="breadcrumb-item flex-shrink-0 flex-xl-shrink-1 active" aria-current="page">@ViewBag.ProductName</li>
    </ol>
</nav>