@model IEnumerable<aspCart.Core.Domain.Catalog.Category>

@foreach (var category in Model)
{
    <li class="nav-item u-header__nav-item"
        data-event="hover"
        data-position="left">
        <a class="nav-link u-header__nav-link" asp-route-category="@category.SeoUrl" asp-action="ProductCategory" asp-controller="Home">@category.Name</a>
    </li>
}